[[portainer.header]]
name = "X-API-Key"
value = "your-portainer-api-key"

# You can also add other headers here, for example to pass Cloudflare Access
#[[portainer.header]]
#name = "CF-Access-Client-Id"
#value = ""

#[[portainer.header]]
#name = "CF-Access-Client-Secret"
#value = ""
